<%-include ../shared/header %>
<!-- <p>Dashboard works!</p> -->
<div class="row mt-4">
    <div class="col">
        <a href="#" class="btn btn-success btn-lg">
            Total Courses <span span class="badge badge-light"><%=totalCourses%></span>
        </a>
        <hr />
        <a href="#" class="btn btn-primary btn-lg">
            Total Tests <span class="badge badge-light"><%=totalTests%></span>
        </a>
    </div>

</div>
<%-include ../shared/footer %>